---
const date: Date = new Date();
---
<footer class="bg-white dark:bg-black w-full">
    <hr class="dark:border-zinc-800 border-zinc-200"/>
    <div class="m-auto h-16 flex flex-row items-center max-w-screen-xl justify-around text-gray-400 dark:text-zinc-300 text-sm font-sfregular md:px-12 px-5">
        <p>Copyright © {date.getFullYear()} Anony. All rights reserved.</p>
    </div>
</footer>
